html,
body {
    height: 100%;
    margin: 0;
    background-color: #E8E9F3;
    position: relative;
}

colorpalette {
    color: #272635;
    color: #A6A6A8;
    color: #CECECE;
    color: #E8E9F3;
}